body {
  background-color: #ffffff;
}

h1 {
  color: #00996d;
}

a {
  color: #00996d;
  font-weight: bold;
}

.about-me {
  display: flex;
}

.about-me img {
  width: 300px;
  height: 300px;
  margin-right: 35px;
}